<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.B80sBsh9.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/KBsH9Dei.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DItk_NjY.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CVd6Gur8.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.Bf8Hzjqx.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/grZWj5vi.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Cn_tS8T-.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/a1QU-e1A.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/B6LRF5Xd.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/D7D0vjmf.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/D1r_Cb68.js">
	</head>
	<body data-sveltekit-preload-data="tap">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1xchjro = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.B80sBsh9.js"),
						import("/_app/immutable/entry/app.Bf8Hzjqx.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
