<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.CtLbhWQp.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CecsPfsb.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BMPuLIsH.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BVQjtW7F.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.2ATH1SSL.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/VcN_NHDK.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BGje2bOa.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CDDqzL9r.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/i0ANGdEP.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BzuYPu_Q.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/C-cJgX7M.js">
	</head>
	<body data-sveltekit-preload-data="tap">
		<div style="display: contents">
			<script>
				{
					__sveltekit_k4tsk6 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.CtLbhWQp.js"),
						import("/_app/immutable/entry/app.2ATH1SSL.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
