<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.D9kdYzTs.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/BAa1I0rh.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/q2UOzK9O.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DTcXEbkx.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.Ay-3se-X.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Byz1KPF5.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CucZnL3j.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DMlXbWod.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/D-rfUeOZ.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/C_UfuRXs.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Dt0BLObs.js">
	</head>
	<body data-sveltekit-preload-data="tap">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1gl3kz8 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.D9kdYzTs.js"),
						import("/_app/immutable/entry/app.Ay-3se-X.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
