<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.CFYnA_po.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.BMp4Dn9O.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.DuNNsKL1.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.BFqC5wTN.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.nq1snBkc.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.DCxnClUY.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.Bwm89PJF.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/render.BIWB5Y2U.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/template.U4H5xKsm.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.Bg9kRutz.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/if.D0AUM06N.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/svelte-component.BAk6TDXU.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/proxy.DYLCfuYw.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/this.D8ufj4WW.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/props.D333NqeQ.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1cevn1w = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.CFYnA_po.js"),
						import("/_app/immutable/entry/app.Bwm89PJF.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
