<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.BfZxkwES.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.HQC6xHH9.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.DqAegRHg.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.BFqC5wTN.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.BUwGzLm7.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.C7kBjNRj.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.D0rZ-ygR.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/render.D7qAamj2.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/template.DSvZZtm2.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.Bg9kRutz.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/if.CXeU0NEc.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/svelte-component.BLVTHhFm.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/proxy.CE6WGGzc.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/this.AUDVRe38.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/props.CP21nwF1.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_16n8bej = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.BfZxkwES.js"),
						import("/_app/immutable/entry/app.D0rZ-ygR.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
