<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.CW7FJ-qh.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.Bc1eldB2.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.lGjdO0kn.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.Cgvfei9d.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.0gGn_WSH.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.QEkTYmrU.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/render.CqSVrQGm.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.Bh5S6th3.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/if.D-X0sUps.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/svelte-component.CBelpJ91.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/props.BcrW9nJw.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/this.DLbnCEtc.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_aylnv4 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.CW7FJ-qh.js"),
						import("/_app/immutable/entry/app.QEkTYmrU.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
