<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.amSHSAp7.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/DfdCes5x.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Blf6ZIKf.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CJUhPAqC.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.Cg5XxmOx.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/Da_0jM_y.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CCwNdWRs.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/B09drdAj.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/CCzcLhCp.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/ihSB5bDx.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/lkwplBkG.js">
	</head>
	<body data-sveltekit-preload-data="tap">
		<div style="display: contents">
			<script>
				{
					__sveltekit_sjtms6 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.amSHSAp7.js"),
						import("/_app/immutable/entry/app.Cg5XxmOx.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
