<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.BIpipXz3.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.D24eLNH4.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.sy8g7xoU.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index.D6k3gP2b.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.LQe_SM2p.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.BXYRr3XN.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/render.DT_NZQBo.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.LBolrW_n.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/if.CzTPFbly.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/svelte-component.DwBDIcYn.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/proxy.C9FS_C_q.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/this.Cuf8qfOl.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/props.BZeQqIRK.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1bdio29 = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.BIpipXz3.js"),
						import("/_app/immutable/entry/app.BXYRr3XN.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
