<!doctype html>
<html lang="vi">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<link rel="modulepreload" href="/_app/immutable/entry/start.BSItvMS2.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/entry.DVVPA-Ws.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/runtime.BHHkLR-t.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/index-client.DJJJpiXW.js">
		<link rel="modulepreload" href="/_app/immutable/entry/app.BuKqCpsB.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/render.B2hKzoCR.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/disclose-version.Ccsps4Hg.js">
		<link rel="modulepreload" href="/_app/immutable/chunks/props.O0VsyYmf.js">
	</head>
	<body data-sveltekit-preload-data="hover">
		<div style="display: contents">
			<script>
				{
					__sveltekit_1aek4ii = {
						base: ""
					};

					const element = document.currentScript.parentElement;

					Promise.all([
						import("/_app/immutable/entry/start.BSItvMS2.js"),
						import("/_app/immutable/entry/app.BuKqCpsB.js")
					]).then(([kit, app]) => {
						kit.start(app, element);
					});
				}
			</script>
		</div>
	</body>
</html>
